.movieDetailOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.movieDetailContainer {
  background: #141414;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  color: white;
  border-radius: 8px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
